@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/* VARIABLES */
:root {
  --main-bg-color: rgb(31, 31, 31);
  --transparent-text-color-degree-1: rgba(255, 255, 255, 0.7);
  --transparent-text-color-degree-2: #313131;
  --hover-bg-degree-1: rgba(255, 255, 255, 0.2);

  --yellow: rgb(245, 197, 24);
  --yellow-1: #ffd400;
  --blue: rgb(87, 153, 239);
}

/* UTILITIES */
.mt-half {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 2.5rem;
}

.transparent-text-color-degree-1 {
  color: var(--transparent-text-color-degree-1);
}

.justify-center {
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
